@use './mixins/minxins.scss' as *;

@include b(tree-node) {
    padding: 5px 0;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #d8e6eb, $alpha: 1);
    }

    @include e(content) {
        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    @include e('expand-icon') {
        transform: rotate(0deg);
        transition: transform 0.2s ease-in;
        margin-right: 5px;

        &.expanded {
            transform: rotate(90deg);
        }

        &.is-leaf {
            fill: transparent;
            cursor: default;
        }
    }
}
